In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'/Users/catherinefuller/galvanize/daimil10/projects/Mid_Term/Loan_Indicators/notebooks'

In [3]:
loan_df = pd.read_csv("/Users/catherinefuller/galvanize/daimil10/projects/Mid_Term/Loan_Indicators/data/loan_data_1.csv")

In [4]:
#Find number of columns and rows
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         381 non-null    int64
 1   Loan_ID            381 non-null    object
 2   Gender             376 non-null    object
 3   Married            381 non-null    object
 4   Dependents         373 non-null    object
 5   Education          375 non-null    object
 6   Self_Employed      360 non-null    object
 7   ApplicantIncome    369 non-null    float64
 8   CoapplicantIncome  363 non-null    float64
 9   LoanAmount         373 non-null    float64
 10  Loan_Amount_Term   370 non-null    float64
 11  Credit_History     351 non-null    float64
 12  Property_Area      381 non-null    object
 13  Loan_Status        381 non-null    object
dtypes: float64(5), int64(1), object(8)
memory usage: 41.8+ KB

In [5]:
loan_df.sample(20)

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
25,25,LP001112,Female,Yes,0,Graduate,No,3667.0,1459.000000,144.0,360.0,1.0,Semiurban,Y
359,359,LP002863,Male,Yes,3+,Graduate,No,6406.0,0.000000,150.0,360.0,1.0,Semiurban,N
121,121,LP001688,Male,Yes,1,Not Graduate,No,3500.0,1083.000000,135.0,360.0,1.0,Urban,Y
162,162,LP001868,Male,No,0,Graduate,No,2060.0,2209.000000,134.0,360.0,1.0,Semiurban,Y
32,32,LP001137,Female,No,0,Graduate,No,3410.0,0.000000,88.0,NaN,1.0,Urban,Y
235,235,LP002219,Male,Yes,3+,Graduate,No,8750.0,4996.000000,130.0,360.0,1.0,Rural,Y
191,191,LP001974,Female,No,0,Graduate,No,5000.0,0.000000,132.0,360.0,1.0,Rural,Y
339,339,LP002739,Male,Yes,0,NaN,No,2917.0,NaN,66.0,360.0,1.0,Rural,N
196,196,LP002002,Female,No,0,Graduate,No,2917.0,0.000000,84.0,360.0,1.0,Semiurban,Y
12,12,LP001038,Male,Yes,0,Not Graduate,No,4887.0,0.000000,133.0,360.0,1.0,Rural,N
187,187,LP001954,Female,Yes,1,Graduate,No,4666.0,0.000000,135.0,360.0,1.0,Urban,Y
259,259,LP002308,Male,Yes,0,Not Graduate,No,2167.0,2400.000000,115.0,360.0,1.0,Urban,Y
11,11,LP001036,Female,No,0,Graduate,No,3510.0,0.000000,76.0,360.0,0.0,Urban,N
80,80,LP001432,Male,Yes,2,Graduate,No,2957.0,0.000000,NaN,360.0,1.0,Semiurban,Y
103,103,LP001581,Male,Yes,0,Not Graduate,NaN,1820.0,1769.000000,95.0,360.0,1.0,Rural,Y
273,273,LP002369,Male,Yes,0,Graduate,No,2920.0,16.120001,87.0,360.0,1.0,Rural,Y
257,257,LP002300,Female,No,0,Not Graduate,No,1963.0,0.000000,53.0,360.0,1.0,Semiurban,Y
78,78,LP001430,Female,No,0,Graduate,No,4166.0,0.000000,44.0,360.0,1.0,Semiurban,Y
203,203,LP002043,Female,No,1,Graduate,No,3541.0,0.000000,112.0,360.0,NaN,Semiurban,Y
165,165,LP001877,Male,Yes,2,Graduate,No,4708.0,1387.000000,150.0,360.0,1.0,Semiurban,Y

In [9]:
loan_df.value_counts('Dependents')

Dependents
0     234
2      59
1      52
3+     28
Name: count, dtype: int64

In [10]:
loan_df['Gender']

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
376      Male
377      Male
378    Female
379      Male
380    Female
Name: Gender, Length: 381, dtype: object